<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/table">Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/nodeForm">Node Form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/nodetable">Node Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/binding">Binding</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/observable">observable</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/reactive">Reactive</a>
            </li>
        </ul>

    </div>
</nav>