<input type="text" [value]="myBlog">
<img [src]="imgUrl" alt="">

<button type="submit" (click)="ssalert()"> click Me!!</button>

<h1 [class.bg-success]="isSuccess">Testyantra</h1>

<img [class.img-thumbnail]="isSuccess" src="https://cdn.pixabay.com/photo/2020/01/22/13/43/mountains-4785337__340.jpg" alt="">

<h3 [style.background-color]="'red'">welcome to testyantra</h3>
<p [style.background-color]="'darkorchid'">
    Quite something!
  </p>

  <h1 [style.font-size.px]="100">fytgfcuyhgduhiud</h1>

  <h2 [style.background-color]="flag? 'green':'red'">hiiiiiiiiiii</h2>

  <table class="table table-bordered">
      <thead>
          <th>name</th>
          <th [attr.colspan]="number">Mobile</th>
      </thead>
      <tr>
          <td>ghth</td>
          <td>21524</td>
          <td>145645</td>
          <td>524545</td>
          <td>1325464</td>
      </tr>
  </table>

